@import url('http://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');

main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background: #0e3959;*/
    background-color: #f2f4f7;
}


.contactUs {
    position: relative;
    width: 70%;
    padding: 20px 160px;
}


.contactUs .title h2 {
    color: #fff;
    font-weight: 500;
}

.form {
    grid-area: form;
}

.info {
    grid-area: info;
}

.map {
    grid-area: map;
}

.contact {
    padding: 40px;
    box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    /*border: 1px solid rgba(255, 255, 255, .2);*/
    /*backdrop-filter: blur(20px); /*Lam mo*/
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
}

.box {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"
    "form map";
    grid-gap: 20px;
    margin-top: 20px;
}

.contact h3 {
    color: black;
    /*font-weight: 500;*/
    font-size: 30px;
    margin-bottom: 15px;
    margin-top: 5px;
    font-style: bold;
}

/*--------form-----------*/
.formBox {
    position: relative;
    width: 100%;
}


.inputBox {
    display: flex;
    flex-direction: column;
    margin: 21px 0;
    width: 90%;
    position: relative;
}

.formBox .row100 .inputBox {
    width: 100%;
}

.inputBox input {
    padding: 10px 20px;
    font-size: 15px;
    outline: none;
    border: 1px solid #333;
    border-radius: 40px;
    background: transparent;
}

.inputBox input:focus {
    border: 2px solid #FFD700;
}

.inputBox label {
    position: absolute;
    top: 19px;
    left: 20px;
    transform: translateY(-50%);
    color: #b9aeae;
    pointer-events: none;
    transition: all 0.3s ease;
}

.inputBox input:not(:placeholder-shown) + label, /*Để khi ko focus thì label cx ko nhảy xuống*/
.inputBox input:focus + label {
    top: 0;
    font-size: 13px;
    background-color: #ffffff; /*Đổi màu theo nền*/
    display: inline-block;
    padding: 5px;
    color: #ffcc00;
}

.inputBox textarea {
    padding: 10px 20px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    border-radius: 25px;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
    background: transparent;
}

.inputBox textarea:focus {
    border: 2px solid #ffcc00;
}

.inputBox textarea:not(:placeholder-shown) + label, /*Để khi ko focus thì label cx ko nhảy xuống*/
.inputBox textarea:focus + label {
    top: 0;
    font-size: 13px;
    background-color: #ffffff; /*Đổi màu theo nền*/
    display: inline-block;
    padding: 5px;
    color: #ffcc00;
}

.inputBox input[type="submit"] {
    max-width: 120px;
    padding: 14px 15px;
    background: linear-gradient(90deg, #FFD700, #FFA500); /* Gradient từ vàng ánh kim đến cam ánh kim */
    color: black; /* Chữ trắng */
    border: none;
    border-radius: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Bóng đổ nhẹ */
    font-size: 17px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.inputBox input[type="submit"]:hover {
    background: linear-gradient(90deg, #FFD700, #FFD700); /* Gradient đổi màu khi hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); /* Bóng đổ mạnh hơn */
    transform: translateY(-2px); /* Tạo hiệu ứng nhấn nổi */
}


/*----info form---*/
.info {
    background-image: url(../image/anh1.png);
}

.info h3 {
    color: #fff;
    padding-bottom: 10px;
}

.info .infoBox div {
    display: flex;
    align-items: content;
    margin-bottom: 13px;
}

.info .infoBox div span {
    min-width: 30px;
    height: 30px;
    color: #fff;
    background: #FFD700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.0em;
    border-radius: 50%;
    margin-right: 15px;
}


.info .infoBox div p {
    color: #fff;
    font-size: 15px;
}

.info .infoBox div a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.info .infoBox div a:hover {
    color: #FFD700;
}

.sci {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.sci li {
    list-style: none;
    margin-right: 15px;
}

.sci li a i {
    font-size: 25px;
    color: #fff;
}

.sci li a:hover i {
    color: #FFD700;
}

.map {
    padding: 0;
}

.map iframe {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/*-----Responsive-----------*/
@media (max-width: 900px){
    .contact {
        padding: 35px;
    }
    .contactUs {
        padding: 10px 110px;
    }
    .box {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
             "form"
             "info"
             "map";
    }
    .map {
        min-height: 300px;
        padding: 0;
    }
    .formBox .row50 {
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputBox {
        width: 85%;
    }
}

@media (max-width: 670px) {
    .contactUs {
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
        padding: 10px;
    }

    .box {
        grid-template-columns: 1fr; /* Chuyển các vùng form, info, map thành một cột */
        grid-gap: 15px; /* Khoảng cách giữa các vùng */
    }

    .formBox {
        width: 100%; /* Form chiếm toàn bộ chiều rộng */
    }

    .inputBox input, .inputBox textarea {
        width: 85%; /* Input chiếm toàn bộ chiều rộng */
    }
}

@media (max-width: 382px) {
    .contact {
        padding: 15px;
    }
}


